CREATE OR REPLACE FUNCTION tag_user_on_post(p_post_id UUID, p_target_user_id UUID) RETURNS void AS \\$\ BEGIN INSERT INTO post_tags (post_id, user_id) VALUES (p_post_id, p_target_user_id) ON CONFLICT DO NOTHING; END; \\$\ LANGUAGE plpgsql SECURITY DEFINER;
